{% extends 'base.html' %}
{% block title %}Confirm List{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Appointment Summary</h2>
    <hr>
    <table class="table table-striped table-bordered">
        <tr><th>Name</th><td>{{ booking.p_name }}</td></tr>
        <tr><th>Email</th><td>{{ booking.p_email }}</td></tr>
        <tr><th>Phone</th><td>{{ booking.p_phone }}</td></tr>
        <tr><th>Doctor</th><td>{{ booking.pd_name }}</td></tr>
        <tr><th>Date</th><td>{{ booking.b_date }}</td></tr>
        <tr><th>Time</th><td>{{ booking.b_time }}</td></tr>
    </table>
    
    <div class="d-flex justify-content-center mt-2">
        <a href="{% url 'booking_success' %}" class="btn btn-outline-success px-4 py-2 rounded-pill shadow-sm" style="text-decoration: none;">
            <span class="fw-semibold small">Confirm</span>
        </a>
        <a href="{% url 'booking_edit' booking.id %}" class="btn btn-outline-success px-4 py-2 rounded-pill shadow-sm" style="text-decoration: none;">
            <span class="fw-semibold small">Edit</span>
        </a>
    </div>
</div>
{% endblock %}